.fh5co-testimonial figure {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -44px;
  margin-bottom: 20px;
  background-size: cover;
}
.fh5co-testimonial figure img {
  width: 88px;
  height: 88px;
  border: 10px solid #fff;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

